<header>
<%= link_to 'ゲーム情報交換', root_path, class: "logo" %><%= image_tag 'gameimage.png' , size: '150x50',class: "logo"  %>
<nav id="menubar">
<ul>
 <% if user_signed_in? %>
   <li><%= link_to current_user.nickname, "/users/#{current_user.id}", class: "user-nickname" %> </li>
 <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %> </li>
  <% else %>  
<li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
  <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
<% end %>
</ul>
</nav>
</header>