<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>初心者向けホームページテンプレート tp_beginner3</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="ここにサイト説明を入れます">
<meta name="keywords" content="キーワード１,キーワード２,キーワード３,キーワード４,キーワード５">
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/slide.css">
<script type="text/javascript" src="js/openclose.js"></script>
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body id="top">

<div id="container">

<header>
<h1 id="logo"><a href="index.html"><img src="images/logo.png" alt="ゲーム情報交換"></a></h1>
<nav id="menubar">
<ul>
 <% if user_signed_in? %>
   <li><%= link_to current_user.nickname, "/users/#{current_user.id}", class: "user-nickname" %> </li>
 <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %> </li>
  <% else %>  
<li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
  <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
<% end %>
</ul>
</nav>
</header>

<aside id="mainimg">
<img src="images/1.jpg" alt="" id="slide0">
<img src="images/1.jpg" alt="" id="slide1">
<img src="images/2.jpg" alt="" id="slide2">
<img src="images/3.jpg" alt="" id="slide3">
</aside>

<div id="contents">

<section id="new">
<h2 id="newinfo_hdr" class="close">新規投稿</h2>
<% @game.each do |game| %> 
       <li class='list'> 
         <%= link_to game_path(game) do %> 
        <div class='item-img-content'>
        <%# <%= image_tag item.image.variant(resize: '500x500'), class: "item-img" if item.image.attached? %>
        <%# </div> %>
        <div class='game-info'>
          <h3 class='game-name'>
            <%= game.title %>
          </h3>
          <div class='item-price'>
            <span><%= game.point.name %>点<br><%= game.category.name %></span>
            </div>
          </div>
        </div>
      </li>
      <% end %> 
</section>
 <% end %> 

<section>
<!--/contents-->

<footer>
<small>Copyright&copy; <a href="index.html">SAMPLE COMPANY</a> All Rights Reserved.</small>
<span class="pr">《<a href="http://template-party.com/" target="_blank">Web Design:Template-Party</a>》</span>
</footer>

</div>
<!--/container-->

<%= link_to(new_game_path, class: 'purchase-btn') do %>
  <span class='purchase-btn-text'>投稿する</span>
  <%# <%= image_tag 'icon_camera.png' , size: '185x50' ,class: "purchase-btn-icon" %>
<% end %>

<!--スマホ用更新情報　480px以下-->
<script type="text/javascript">
if (OCwindowWidth() <= 480) {
	open_close("newinfo_hdr", "newinfo");
}
</script>

</body>
</html>
